{% extends "base.html" %}
{% block title %}Standings Grupo {{ group.name }} - ETTEM{% endblock %}
{% block content %}
<h1>Grupo {{ group.name }} - Standings</h1>
<p><a href="/category/{{ category }}" class="btn">Volver</a></p>
<table>
<tr><th>Pos</th><th>Jugador</th><th>Pts</th><th>V-D</th><th>Sets</th><th>Puntos</th></tr>
{% for s in standings %}
<tr>
    <td>{{ s.standing.position }}</td>
    <td>{{ s.player.nombre }} {{ s.player.apellido }}</td>
    <td>{{ s.standing.points_total }}</td>
    <td>{{ s.standing.wins }}-{{ s.standing.losses }}</td>
    <td>{{ s.standing.sets_w }}-{{ s.standing.sets_l }}</td>
    <td>{{ s.standing.points_w }}-{{ s.standing.points_l }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
